-- demo-data.sql
-- Datos de prueba masivos para Votify (Demo)
-- IMPORTANTE: Ejecutar en el SQL Editor de Supabase.
-- Nota: Aunque los IDs se generan automaticamente, aqui los forzamos (con UUIDs fijos) 
-- para poder enlazar las tablas (ej: asignar un proyecto a un evento especifico) en un solo script. 
-- La generacion automatica seguira funcionando cuando crees cosas nuevas desde la app.

-- ==========================================
-- 1. EVENTOS (Pasado, Presente y Futuro)
-- ==========================================

-- ==========================================
-- 2. EQUIPOS
-- ==========================================
INSERT INTO equipo (id, "Nombre", created_at) VALUES 
('33333333-0000-0000-0000-000000000001', 'Equipo Alpha', NOW()),
('33333333-0000-0000-0000-000000000002', 'Beta Coders', NOW()),
('33333333-0000-0000-0000-000000000003', 'Gamma Devs', NOW()),
('33333333-0000-0000-0000-000000000004', 'Delta Hackers', NOW()),
('33333333-0000-0000-0000-000000000005', 'Epsilon Tech', NOW())
ON CONFLICT DO NOTHING;

-- ==========================================
-- 3. PARTICIPANTES (Pass: 123456 para todos)
-- ==========================================

-- ==========================================
-- 4. ROLES DE PARTICIPANTES EN EL EVENTO ACTIVO (ID ...02)
-- ==========================================

-- ==========================================
-- 5. VOTACIONES EN EVENTO ACTIVO
-- ==========================================

-- ==========================================
-- 6. CRITERIOS PARA VOTACION MULTICRITERIO
-- ==========================================
INSERT INTO criterio (id, votacion_id, nombre, tipo, peso) VALUES
('77777777-0000-0000-0000-000000000001', '22222222-0000-0000-0000-000000000002', 'Arquitectura', 'Estrellas', 40.0),
('77777777-0000-0000-0000-000000000002', '22222222-0000-0000-0000-000000000002', 'Rendimiento', 'Estrellas', 30.0),
('77777777-0000-0000-0000-000000000003', '22222222-0000-0000-0000-000000000002', 'Viabilidad Comercial', 'Estrellas', 30.0)
ON CONFLICT DO NOTHING;

-- ==========================================
-- 7. PROYECTOS (Disponibles en las 3 Votaciones)
-- ==========================================
-- Para Votacion 1 (Estandar)

-- Para Votacion 2 (Multicriterio)

-- ==========================================
-- 8. COMENTARIOS (Para probar el Resumidor IA en Votacion 1 - Plataforma AI)
-- ==========================================

-- ==========================================
-- 9. VOTOS YA EMITIDOS EN VOTACION 1 (ESTANDAR)
-- ==========================================

-- ==========================================
-- 10. VOTOS MULTICRITERIO (Jurado 1 votando en Votacion 2 - Plataforma AI)
-- ==========================================
WITH voto_id AS (
    INSERT INTO votos (id, votacion_id, votante_id, proyecto_id, fecha_voto) 
    VALUES (gen_random_uuid(), '22222222-0000-0000-0000-000000000002', '44444444-0000-0000-0000-000000000002', '55555555-0000-0000-0002-000000000001', NOW())
    RETURNING id
)
INSERT INTO valoracion_criterio (id, voto_id, criterio_id, puntuacion)
SELECT gen_random_uuid(), id, '77777777-0000-0000-0000-000000000001', 5 FROM voto_id UNION ALL -- 5 en Arquitectura
SELECT gen_random_uuid(), id, '77777777-0000-0000-0000-000000000002', 4 FROM voto_id UNION ALL -- 4 en Rendimiento
SELECT gen_random_uuid(), id, '77777777-0000-0000-0000-000000000003', 5 FROM voto_id;          -- 5 en Viabilidad Comercial

-- Comentario del jurado 1
INSERT INTO "Comentario" (id, texto, fecha_creacion, autor_id, proyecto_id, es_anonimo) VALUES
(gen_random_uuid(), 'La arquitectura es solida y bien estructurada. El rendimiento es bueno pero podria optimizarse un poco el tama±o de las imagenes.', NOW(), '44444444-0000-0000-0000-000000000002', '55555555-0000-0000-0002-000000000001', false)
ON CONFLICT DO NOTHING;
